.header {
  display: flex;
  position: sticky;
  background-color: white;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 5px 8px -9px rgb(0, 0, 0, 0.75);
  z-index: 100;
  top: 0;
  width: 100%;
}
.header__logo {
  height: 100px;
  object-fit: contain;
  margin-left: 20px;
}

.header__middle {
  display: flex;
  flex: 1;
  align-items: center;
  padding: 10px;
  border-radius: 999px;
  border: 1px solid lightgray;
  justify-content: space-between;
  max-width: fit-content;
  height: 30px;
}

.header__search {
  border: none;
  background-color: transparent;
  outline-width: 0;
  width: 250px;
}
.header__right {
  display: flex;
  align-items: center;
  margin-right: 80px;
}

.header__option {
  margin-left: 5px;
  padding: 15px;
}

.header__option:hover {
  border-radius: 999px;
  background-color: #eff2f5;
}

.header__accountOption {
  display: flex;
  border: 1px solid lightgray;
  margin-left: 5px;
  padding: 5px;
  border-radius: 999px;
  align-items: center;
}

.header__accountOption:hover {
  box-shadow: 0px 10px 8px -9px rgb(0, 0, 0, 0.75);
}

.header__right > h4 {
  font-weight: 500;
  font-size: medium;
}
